* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #282d35;
  font-family: Inter, sans-serif;
}

.App {
  font-family: sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 70px;
  padding: 30px 10px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
  font-size: 20px;
}

.nav--icon {
  width: 40px;
  margin-right: 7px;
}

main {
  padding: 55px 27px;
  color: white;
  background-image: url(./images/react2.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
}

.main--title {
  margin: 0;
  font-size: 40px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 45px;
  max-width: 400px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 12px;
  font-size: 20px;
}

.main--facts > li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
